/* Variables */
:root {
    /* Colors */
    --color-primary: #e6e6e6;
    --color-primary-translucent: rgba(0, 0, 0, 0.05);
    --color-secondary: #b3b3b3;
    --color-inverse: #000000;
    --color-inverse-translucent: rgba(0, 0, 0, 0.95);
    --color-link: #e6e6e6;
    --color-icon: #ffffff;
}
