/* Variables */
:root {
    /* Colors */
    --color-primary: #1a1a1a;
    --color-primary-translucent: rgba(0, 0, 0, 0.05);
    --color-secondary: #4d4d4d;
    --color-inverse: #ffffff;
    --color-inverse-translucent: #f2f2f2;
    --color-link: #1a1a1a;
    --color-icon: #ffffff;
}