:root {
  --reach-dialog: 1;
  --reach-combobox: 1;
}

[data-reach-dialog-overlay] {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 99;
}
