:root {
  /* Light Theme for Fallback */
  --textPrimary: "#000000";
  --textSecondary: "#4D4D4D";
  --textDisabled: "#8E8E93";
  --bgBase: "#F2F2F7";
  --bgElevated: "#FFFFFF";
  --separator: "#CECED9";
  --red: "#FF3B30";
  --orange: "#FF9500";
  --yellow: "#FFCC00";
  --green: "#34C759";
  --blue: "#007AFF";
  --purple: "#AF52DE";
}

body,
#root,
#App {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--textPrimary);
  background-color: var(--bgBase);
}
