*.xml

\.idea

db/node_modules/

\.DS_Store

editor/

node_modules

.cache
.vercel
.output

public/build
public/tailwind.css
api/build
app/styles/tailwind.css

.env

node_modules
/.cache
/netlify/functions/server/build
/public/build
/.netlify

.cache.remix
