body {
    background-color: #26292E;
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    width:1200px;
}

text {
    fill: white;
}



.group:after {
    content: "";
    display: table;
    clear: both;
}

/* Document styling */

#wrapper {
    position: relative;
    float: left;
    top: 20px;
}


#title {
    font-size: 24px;
    font-weight: 100;
    color: white;
    line-height: 36px;
    font-weight: normal;
}
#title div.large, #title span.large {
    font-size: 40px;
    line-height: 56px;
    font-weight: lighter;
}

#subtitle {
    font-size: 18px;
    line-height: 36px;
    font-weight: lighter;
    color: aliceblue;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: white;
    text-decoration: underline;
}

footer {
    color: #888;
}

main {
    color: #ddd;
}

.answers {
    font-weight: lighter;
}

#desc {
    position: relative;
    float:right;
    z-index:-999;
    left: 420px;
    top: 10px;
    width: 350px;
}

#desc2 {
    position: absolute;
    float:right;
    right: 50px;
    top: 95px;
    width: 350px;
}


button {
    background: none repeat scroll 0 0 #3C3F45;
    color: #f2f2f2;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin-top: 30px;
    padding: 5px 40px;
    text-align: center;
    transition: background 0.1s linear 0s, color 0.1s linear 0s;
    vertical-align: middle;
    width: auto;
    border: 0;
}

button:hover {
    background: none repeat scroll 0 0 #DE5E60;
    color: #FFFFFF;
}


#buttons {
    margin-left: 20px;
}

#divider {
    position: relative;
    top: 40px;
    left: 20px;
    right: 20px;
    border: 1px solid;
}

#labels {
    color: aliceblue;
    font-weight: bold;
}
#label1 {
    position: absolute;
    top: 100px;
    left: 195px;
}
#label2 {
    position: absolute;
    top: 220px;
    left: 195px;
}
#label3 {
    position: absolute;
    top: 345px;
    left: 195px;
}
#label4 {
    position: absolute;
    top: 490px;
    left: 195px;
}
#label5 {
    position: absolute;
    top: 615px;
    left: 195px;
}

#textual{
    margin: 40px;
}

.column {
    float: left;
    width: 45%;
    padding: 2%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.noglow:hover {
    text-shadow: none !important;
}

/* data table styles */
#grid { height: 300px; color:white; clear: both; position:relative; top: 50px; left: 20px }
.row, .header { clear: left; font-size: 14px; line-height: 18px; height: 20px; margin: 5px; width:100% }
.row:hover {text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;}
.row:nth-child(odd) { background: rgba(0,0,0,0.1); }
.header { font-weight: bold; }
.cell { float: left; overflow: auto; white-space: nowrap; width: 105px; height: 20px; }
.col-0 { width: 120px; }


