<!doctype HTML>
<meta charset = 'utf-8'>
<html>
<head>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <script src='http://d3js.org/d3.v3.min.js' type='text/javascript'></script>
    <script src='http://d3js.org/topojson.v1.min.js' type='text/javascript'></script>
    <script src='http://datamaps.github.io/scripts/datamaps.all.min.js' type='text/javascript'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js' type='text/javascript'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js' type='text/javascript'></script>

    <style>
        .rChart {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 800px;
            height: 400px;
        }
        .container {
            margin-top: 20px;
        }
    </style>

</head>
<body ng-app ng-controller='rChartsCtrl'>


<div class='container'>
    <div class="btn-group" >
        <button ng-repeat="value in years" ng-click='updateYear(value)'
                class="btn btn-default" type="button"
                ng-model="value" btn-radio="value">
            {{ value }}
        </button>
    </div>
    <div class="variableSelect">
        <select ng-click='updateYear(value)' autofocus="true">
            <option value="HardWork">Hard Work</option>
            <option value="Independence">Independence</option>
            <option value="Unselfishness">Unselfishness</option>
            <option value="Imagination">Imagination</option>
            <option value="Respect">Respect for Others</option>
            <option value="Saving">Money Saving</option>
            <option value="Determination">Determination</option>
            <option value="Obedience">Obedience</option>
        </select>
    </div>
    <div id='chart_1' class='rChart datamaps'></div>
</div>
<script>
    function rChartsCtrl($scope){
        $scope.years = [1998, 2004, 2009, 2014]
        $scope.year = $scope.years[0]
        $scope.updateYear = function(x){
            $scope.year = x
        }
        $scope.$watch('year', function(newYear){
            mapchart_1.updateChoropleth(chartParams.newData[newYear]);
        })
    }
</script>
<script id='popup-template' type='text/x-handlebars-template'>

</script>
<script src="js/chartParam.js"></script>

<style>
    .datamaps {
        position: relative;
    }
</style>

<script></script>
</body>
</html>

