html {
    height: 100%;
}

body {
    min-height: 100%;
}

body > * {
    padding: 1em;
}

body > header {
    background: black;
    color:white;
}

body > footer {
    background: #aaa;
    color:white;
}

body > header,
body > footer {
    text-align: center;
}

body > header > *:last-child {
    margin-bottom: 0;
}

body > article h1 {
    font-size: 2em;
}

.capitaliseLabel {
    text-transform: capitalize;
}


.inactive {
    display: none !important;
}

#select-dish-search-form {
    width: 100%;
}

img.dish {
    border-radius: 10px;
}

li.vertical-divider {
    width: 1px;
    background: #e5e5e5;
    align-self: stretch;
}

.dish > div {
    width: 100%;
}

tfoot {
    border-top: 1px solid rgb(183, 196, 198);
}
thead {
    border-bottom: 1px solid rgb(183, 196, 198);
}

table th,
table td {
    padding: .3em .5em;
}
tr > *:first-child {
    padding-left: 0;
}
tr > *:last-child {
    padding-right: 0;
}

table .currency {
    width: 1px;
    text-align: right;
    white-space: nowrap;
}

.currency::after {
    content: " kr";
}

article > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    align-self: stretch;
}

article > header > button {
    order: 2;
}

article > header > h2 {
    order: 1;
    margin: 0;
}

#overview-dish-list {
    justify-content: center;
}

.select-dish-search-form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 1em;
}

.select-dish-search-form > input {
    width: auto;
}