#dish-details-view > header {
    grid-area: title;
    width: 100%;
}

#dish-details-view > .description {
    grid-area: description;
}

#dish-details-view > .picture{
    grid-area: picture;
}


#dish-details-view > .ingredients {
    padding: 1em;
    background-color: #ffe8a1;
    border-radius: 5px;
    grid-area: ingredients;
}

.softHeading {
    padding-top: 10px;
}

table.ingredients {
    width: 100%;
}

.imageDish {
    max-width: 100%;
    border-radius: 10px;

    margin-top: 10px;
    margin-bottom: 10px;
}

table.ingredients > tfoot,
table.ingredients > thead {
    border-color: #f9c219;
}

#dish-details-view > .preparation {
    grid-area: preparation;
}

#dish-details-view section.ingredients {
    min-height: 0;
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    align-self: top;
}

@media (min-width: 512px) {
    #dish-details-view {
        display: grid;
        grid-template-columns: auto auto auto; /*1fr*/
        grid-template-rows: auto auto 1fr;
        grid-column-gap: 1em;
        grid-template-areas:
                "title title title"
                "picture description ingredients"
                "picture preparation ingredients";
    }
}