
.menu-view {
    background:#eee;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#numberOfGuests {
    text-align: center;
}

.menu-body > * {
    margin-top: 1em;
}

.menu-view h1 {
    margin-bottom: 0;
}

.menu-view header {
    margin: 0;
}