@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typography */
@layer base {
  html {
    font-size: 14px;
  }
  @screen sm {
    html {
      font-size: 16px;
    }
  }
  @screen lg {
    html {
      font-size: 18px;
    }
  }

  body {
    @apply bg-gray-50 dark:bg-gray-900;
    @apply text-gray-800 dark:text-gray-200;
    @apply min-h-screen w-screen;
    @apply flex flex-col;
  }

  h1 {
    @apply font-bold text-7xl leading-tight my-4 text-gray-900 dark:text-gray-100;
  }
  h2 {
    @apply font-bold text-6xl leading-tight my-4;
  }
  h3 {
    @apply font-bold text-5xl leading-snug my-4;
  }
  h4 {
    @apply font-bold text-4xl leading-snug my-4;
  }
  h5 {
    @apply font-bold text-3xl leading-normal my-4;
  }
  h6 {
    @apply font-bold text-2xl leading-normal my-4;
  }
  p {
    @apply text-lg leading-normal my-4 text-gray-700 dark:text-gray-300;
  }
  small {
    @apply text-base;
  }

  a:not([data-customColor]) {
    @apply text-blue-700 dark:text-blue-300;
    @apply hover:text-blue-800 dark:hover:text-blue-200;
  }
  a:not([data-customBorder]) {
    @apply border-b-2 border-transparent;
    @apply hover:border-current;
  }
  strong {
    @apply font-bold;
  }
  em {
    @apply italic underline;
  }
}

/* Layout */
@layer base {
  .x-container {
    @apply mx-8 md:mx-12 lg:mx-16 xl:mx-20;
  }

  main {
    @apply flex-1 x-container;
  }

  .h-screen-50 {
    height: 50vh;
  }
  .h-screen-60 {
    height: 60vh;
  }
  .h-screen-70 {
    height: 70vh;
  }
  .min-w-300 {
    min-width: 300px;
  }
  .w-full-plus-2rem {
    width: calc(100% + 2rem);
  }
}
